@CHARSET "UTF-8";

.d_promo_icon { margin-left: -421px;}
.pi-iblock-promo-icon { margin-left:-461px; }
.ie11-copy-issue-promo-icon {top:130px; margin-left:-16px;}
.ie11-copy-task-promo-icon {top:114px; margin-left:-21px;}