<div class="page_title">My Preferences</div>
<div class="configuration_block user_settings_blk">
	<form name="user_configuration_form" method="POST" action="{aurl(#/user/updateUserSettings#)}" onsubmit="return tt.util.validateUserSettingsValues(this)" flexy:ignore  > 
		<div class="form_item">
			<label>&nbsp;</label>
			<div class="page_title">General:</div>	
		</div>
	<div class="settings_top_block">		
			<div class="form_item small_form_item">
				<label for="utmr">Users per page:</label>
				<input type="text" class="text_field" name="utmr" id="utmr" value="{users_table_max_rows:h}" />
				<div class="form_info_text">No. of users to be displayed in users tab; e.g. input 20 to display 20 registered users</div>
			</div>		
		<div class="form_item small_form_item">
			<label for="ppp"> Projects per page:</label>
			<input type="text" class="text_field" name="ppp" id="ppp" value="{projects_per_page:h}"/>
			 <div class="form_info_text">No. of projects to be displayed in projects tab; <br />e.g. input 20 to display 20 latest projects on the projects tab.</div>
		</div>	
		<div class="form_item small_form_item">
			<label for="tcpp">Task comments per page:</label>
			<input type="text" class="text_field" name="tcpp" id="tcpp"  value="{task_comments_per_page:h}"/>
			<div class="form_info_text">No. of task comments to be displayed in task view tab; e.g. input 20 to display 20 latest comments.</div>
		</div>
		<div class="form_item small_form_item">
			<label for="mmpp">Max. messages per page:</label>
			<input type="text" class="text_field" name="mmpp" id="mmpp" value="{max_messages_per_page:h}"/>
			<div class="form_info_text">No. of messages to be displayed in messages tab; <br />e.g. input 50 to display 50 messages.</div>
		</div>
		<div style="clear:both;"></div>	
	</div>
		<div class="clear_fix"><br /></div>	
		<div class="form_item">
			<label>&nbsp;</label>
			<div class="page_title">Dashboard:</div>	
		</div>
		<div class="form_item two_column_blk">
			<label>&nbsp;</label>
			<div class="leftfix">
				<div class="form_item small_form_item"> <!-- megha 31.3.15 -->
					<label> Max. records per block in dashboard </label>
					<input type="text" class="text_field" name="mdbi" id="mdbi"  value="{max_dashboard_block_items:h}"/>
					<div class="form_info_text">No. of tasks to be displayed in dashboard tab; <br />e.g. input 20 to display max 20 tasks in blocks.</div>
				</div><!-- megha 31.3.15 -->
			</div>
		</div>
		<div class="clear_fix"><br /><br /></div>
		<div class="form_item">
			<label>&nbsp;</label>
			<div class="page_title">Issue report settings:</div>	
		</div>			
		<div class="form_item two_column_blk">
			<label>&nbsp;</label>
			<div class="leftfix"> 
				{if:show_all_comments_of_open_issues}
					<div class="check_item">
						<input type="checkbox" name="sacoi" id="sacoi" checked /> Show all comments for open issues
					</div>
					<div class="form_info_text">Select to display all comments made on open issues.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="sacoi" id="sacoi" /> Show all comments for open issues
					</div>
					<div class="form_info_text">Select to display all comments made on open issues.</div>
				{end:}
			</div>
			<div class="leftfix">			
				{if:show_closed_comments_of_closed_issues}
					<div class="check_item">
						<input type="checkbox" name="sccci" id="sccci" checked /> Show only closing comments for closed issues
					</div>
					<div class="form_info_text">Select to display only last comment made while closing the issue.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="sccci" id="sccci" /> Show only closing comments for closed issues
					</div>
					<div class="form_info_text">Select to display only last comment made while closing the issue.</div>
				{end:}
			</div>
		</div>
		<div class="form_item two_column_blk">
			<label>&nbsp;</label>
			<div class="leftfix">
				{if:show_attached_image_with_comments}
					<div class="check_item">
						<input type="checkbox" name="saiwc" id="saiwc" checked /> Show attached image with comments in export PDF
					</div>
					<div class="form_info_text">Select to display images attached with issue comments in PDF file.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="saiwc" id="saiwc" /> Show attached image with comments in export PDF
					</div>
					<div class="form_info_text">Select to display images attached with issue comments in PDF file.</div>
				{end:}
			</div>
		</div>	
		<div class="clear_fix"><br /><br /></div>
		<div class="form_item">
			<label>&nbsp;</label>
			<div class="page_title">Search settings:</div>	
		</div>	
		<div class="form_item two_column_blk">
			<label>&nbsp;</label>
			<div class="leftfix">	
				{if:search_project_details}
					<div class="check_item">
						<input type="checkbox" name="spd" id="spd" checked /> Search project details
					</div>
					<div class="form_info_text">Select to enable searching of project details.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="spd" id="spd" /> Search project details
					</div>
					<div class="form_info_text">Select to enable searching of project details.</div>
				{end:}
			</div>
			<div class="leftfix">				
				{if:search_task_details}
					<div class="check_item">
						<input type="checkbox" name="std" id="std" checked /> Search task details
					</div>
					<div class="form_info_text">Select to enable searching of task details.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="std" id="std" /> Search task details
					</div>
					<div class="form_info_text">Select to enable searching of task details.</div>
				{end:}
			</div>
		</div>
		<div class="clear_fix">&nbsp;</div>			
		<div class="form_item two_column_blk">
			<label>&nbsp;</label>
			<div class="leftfix">	
				{if:search_issue_details}
					<div class="check_item">
						<input type="checkbox" name="sid" id="sid" checked /> Search issue details
					</div>
					<div class="form_info_text">Select to enable searching of issue details.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="sid" id="sid" /> Search issue details
					</div>
					<div class="form_info_text">Select to enable searching of issue details.</div>
				{end:}
			</div>	
			<div class="leftfix">	
				{if:search_messages}
					<div class="check_item">
						<input type="checkbox" name="sm" id="sm" checked /> Search messages
					</div>
					<div class="form_info_text">Select to enable searching of projects, tasks and issues messages.</div>
				{else:}
					<div class="check_item">
						<input type="checkbox" name="sm" id="sm" /> Search messages
					</div>
					<div class="form_info_text">Select to enable searching of projects, tasks and issues messages.</div>
				{end:}
			</div>
		</div>			
		<div class="clear_fix">&nbsp;</div>	
		<div class="form_item hide_projects"><!-- megha 8.4.15 -->
				<label>&nbsp;</label>
				<div class="page_title">Hide Projects:</div>	
				<span> Select to hide projects in index and report tabs.</span>
		</div>
		<div class="form_item two_column_blk hide_projects"><!-- megha 8.4.15 -->
			<label>&nbsp;</label>
			<div class="leftfix">	
							
				{foreach:project_filter_records,cnt,project_record}	
						{if:!project_record.is_hidden}
							<div class="check_item">
								<input type="checkbox" name="hpids[]" value="{project_record.getId()}" /> {project_record.getName()}
							</div>	
						{end:}		<!--  endif -->
				{end:}		<!--  endforeach -->
			
		   </div>
		   <div class="leftfix">	
			
				{foreach:project_filter_records,cnt,project_record}	
						{if:project_record.is_hidden}
							<div class="check_item">
								<input type="checkbox" name="hpids[]" value="{project_record.getId()}" checked/> {project_record.getName()}
							</div>		
						{end:}		<!--  endif -->			
									
				{end:}		<!--  endforeach -->
			
		   </div>
			<div class="clear_fix"></div><!-- megha 3.3.15 -->
		</div>	
			
		
			
		<div class="form_item">
			<label>&nbsp;</label>
 			<input type="submit" name="submit" value="Submit" class="blue_btn"/> &nbsp;
			<input type="reset" value="Reset" class="blue_btn" />
		</div>
		<div class="clear_fix"></div>	
	</form>	
</div> <!-- end of configuration_block -->