/**************************** Common ********************************/

table th{background:#8a8a8a;}
table td{background:#ECECEC;}
.theme_color_block{border:1px solid #c0c0c0; }




.user_settings_block{/*border:1px solid #c0c0c0; */ /* reshma 17.1.15 */ background:url(profile_drop_menu.png) no-repeat; height:38px;  width:162px;  }




/**************************** Header Part ***************************/
.header{background:#DFDFDF; border:1px solid #DFDFDF; width:989px; margin-left:-1px; /*reshma 19.1.15*/}

/* reshma 19.1.15 */
.header_logo{ background:url(logo.png) no-repeat; width:30px; height:30px;}
.last_menu { background:url(block7.png) no-repeat; /*width:91px; height:33px;*/ /*margin-left:-2px; */ width:83px; height:33px; position:absolute; top:68px; left:0px; cursor:pointer;  line-height:2.6; text-align:left; padding-left:8px; margin-left:-1px;  border-bottom:none;}
.last_menu:hover { color:#000000;}
.search_btn { background:url(search_go_btn.png) no-repeat; width:49px; height:36px; border:none; color:#FFFFFF; }/* megha 6.4.15*/


/************************** Menubar Part ****************************/
.menu a{background:#808080;}
.menu a:hover , .dashboard_menu a:hover {background:#c0c0c0; color:#000000; /* reshma 19.1.15*/}

/* reshma 17.1.15 */
.admin_top_lt_corner { background:url(dash_menu_top_lt.png) no-repeat; width:13px; height:13px; margin-top:1px; margin-left:-2px;}
.admin_btm_lt_corner { background:url(dash_menu_btm_lt.png) no-repeat; width:13px; height:13px; margin-left:-1px;}
.menu a { color:#FFFFFF;}
.btm_rt_corner{background:url(menubar_btm_rt.png) no-repeat; width:13px; height:13px; margin-left:-2px; }
.top_rt_corner{background:url(menubar_top_rt.png) no-repeat; width:13px; height:13px; margin-left:-2px;  }
#admin_menubar { background:#808080;}
#more_menu { color:#FFFFFF; }
#more_menus { background:#808080; color:#FFFFFF; margin-left:-2px;   }
#more_menus a { background:#808080; color:#FFFFFF;  }
#more_menus a:hover { background:#c0c0c0; color:#000000;   }
.dashboard_menu a { background:#808080; color:#FFFFFF;   }
.dashboard_menu .admin_top_lt_corner , .dashboard_menu .top_lt_corner { background:url(admin_menubar_top_lt1.png) no-repeat; width:13px; height:13px; margin-left:-1px; margin-top:0px;  }
.dashboard_menu .admin_btm_lt_corner , .dashboard_menu .btm_lt_corner { background:url(admin_menubar_btm_lt1.png) no-repeat; width:13px; height:13px; margin-left:-1px; margin-top:-1px; }
.dashboard_menu:hover .admin_top_lt_corner , .dashboard_menu:hover .top_lt_corner { background:url(dash_menu_top_lt.png) no-repeat; width:13px; height:13px; margin-top:2px; margin-left:-2px; }
.dashboard_menu:hover .admin_btm_lt_corner , .dashboard_menu:hover .btm_lt_corner  {background:url(dash_menu_btm_lt.png) no-repeat; width:13px; height:13px; margin-top:0px;}

.theme_color_block { background:url(theme_color_block.png) no-repeat; width:68px; height:26px; border:none; /* theme block*/} 



/* for dashboard corner hover 29.1.15  */
.dashboard_menu .admin_top_lt_corner:hover , .dashboard_menu .top_lt_corner:hover { background:url(dashboard_hover_block_none.png) no-repeat; width:81px; height:38px; margin-left:3px; margin-top:6px;   }
.dashboard_menu .admin_btm_lt_corner:hover , .dashboard_menu .btm_lt_corner:hover { background:url(dashboard_hover_block_none.png) no-repeat; width:81px; height:38px; margin-left:3px; margin-top:-30px; }

/* .dashboard_menu_hover a { background:url(dashboard_hover_block.png) no-repeat; width:81px; height:38px;  color:#000000; text-align:center; vertical-align:middle; z-index:500; margin-top:-38px;}*/


/*.dashboard_menu .top_lt_corner:hover  {background:url(admin_menubar_top_lt1.png) no-repeat; width:13px; height:13px; margin-left:-1px; margin-top:2px;}
.dashboard_menu .btm_lt_corner:hover { background:url(admin_menubar_btm_lt1.png) no-repeat; width:13px; height:13px; margin-left:-1px; margin-top:-1px; }*/

.menu_fav , .menu_fav a{ background:#808080; color:#FFFFFF;  }
.menu_fav a:hover {background:#c0c0c0; color:#000000; }
.menu_fav:hover .top_rt_corner { background:url(top_rt_corner.png) no-repeat; width:13px; height:13px; margin-top:2px; margin-left:-6px; }
.menu_fav:hover .btm_rt_corner { background:url(btm_rt_corner.png) no-repeat; width:13px; height:13px; margin-top:-3px; margin-left:-4px; }
.menu_fav .top_rt_corner, .menu_fav .btm_rt_corner { margin-left:-3px;}

.menu_fav .top_rt_corner:hover { background:url(fav_hover_block_none_new.png) no-repeat; width:81px; height:38px; margin-left:-77px; margin-top:5px;}
.menu_fav .btm_rt_corner:hover { background:url(fav_hover_block_none_new.png) no-repeat; width:81px; height:38px; margin-left:-76px; margin-top:-31px;}

.menuSelected .btm_lt_corner { background:url(dash_menu_btm_lt.png) no-repeat; width:13px; height:13px; margin-left:-1px;}
.menuSelected .top_lt_corner { background:url(dash_menu_top_lt.png) no-repeat; width:13px; height:13px; margin-left:-2px; margin-top:1px;}

.menuSelected_fav .top_rt_corner{ background:url(fav_top_rt1.png) no-repeat; width:13px; height:13px; margin-top:1px; margin-left:-5px; }
.menuSelected_fav .btm_rt_corner{ background:url(fav_btm_rt.png) no-repeat; width:13px; height:13px; margin-top:-1px; margin-left:-4px;}


.menuSelected a {background:#c0c0c0; color:#000000; }


/*************************** Content Part ***************************/
.content_header_block{background:#EFEFEF;}


/************************ Registration Block ************************/
.registration_block{background:#FAFAFA; border:1px solid #EFEFEF;}


/************************** Footer Part *****************************/
.footer{background:#808080;}


/*************************** Views Page *****************************/
.project_desc_block .message_block{border:1px solid #f0f0f0; border-bottom-color:#a1a1a1;}


/************************* Settings Block ***************************/
.configuration_block{background:#FAFAFA; border:1px solid #EFEFEF;}


/************************ Profile Block *****************************/
.profile_cont{background:#FAFAFA; border:1px solid #EFEFEF;}


/************************** Task copy page ****************************/
.copy_form_block{background:#FAFAFA; border:1px solid #EFEFEF;}


/************************** Dashboard ********************************/
.dashboard .block_title {background:#EFEFEF;}

/* reshma 21.1.15 */

.more_button a { background:url(see_more1.png) no-repeat; width:66px; height:28px;}
.new_project{  background:url(new_proj.png) no-repeat; width:76px; height:31px;}
.blue_btn , .review_blue_btn , .close_blue_btn , .fbutton , .button{ background:url(submit_button.png) no-repeat; width:73px; height:31px; color:#FFFFFF; }
.review_blue_btn{ background:url(review_submit_button.png) no-repeat; width:120px; }
.close_blue_btn{ background:url(close_button.png) no-repeat; width:90px; }
.blue_go_btn { border:none; background:url('go_blue_btn.png') no-repeat; width:36px; height:25px; }