<div class="project_nav_link">
	<img src="{project_icon}" width="16" height="18" title="{project_record.getName()} - {project_record.getDescription()}" alt="project_icon" onclick="window.location='{aurl(#/project/view#):h}/id/{project_record.getId()}'" class="project_icon" /> 
	<a href="{aurl(#/project/view#):h}/id/{project_record.getId()}" title="{project_record.getName()} - {project_record.getDescription()}">{project_record.getName():h}</a>
</div>	
<div class="task_name">
{if:task_record.getIsViewOnly()} 
	<img src="{iurl(#viewonly_status.png#)}" width="12" height="12" onclick="window.location='{aurl(#/task/view#):h}/id/{task_record.getId():h}'" title="View Only" class="task_viewonly_status_icon" alt="task_name_icon" flexy:ignore/> <!-- megha 2.2.15 -->
{else:}
	{if:task_record.getIsOpen()}
		<img src="{iurl(#open_status.png#)}" width="12" align="absmiddle" height="12" onclick="window.location='{aurl(#/task/view#):h}/id/{task_record.getId()}'" title="Open" class="status_icon" alt="task_open_status_icon" />
	{end:}
	{if:task_record.getIsInProgress()}
		<img src="{iurl(#inprogress_status.png#)}" width="12" align="absmiddle" height="12" onclick="window.location='{aurl(#/task/view#):h}/id/{task_record.getId()}'" title="In progress" class="status_icon" alt="task_inprogress_status_icon" />
	{end:}
	{if:task_record.getIsClosed()}
		<img src="{iurl(#closed_status.png#)}" width="12" height="12" align="absmiddle" alt="task_closed_status_icon" onclick="window.location='{aurl(#/task/view#):h}/id/{task_record.getId()}'" title="Closed" class="status_icon" />
	{end:}
{end:} <!--  end of else view only -->
{if:isPromoted}
            <div class="promo_icon tc-promo-icon ie11-copy-task-promo-icon"></div> <!--  Abhilash 28.4.15 -->
{end:}
	<a href="{aurl(#/task/view#):h}/id/{task_record.getId()}" title="{task_record.getName()} - {task_record.getDescription()}">{task_record.getName()}</a>
</div>
<div class="page_title">Copy Task </div>
<div class="copy_form_block">
	<form enctype="multipart/form-data" method="post" id="project_form" action="{aurl(#/task/cloneTask#):h}" onsubmit="return tt.util.validateAndSubmitCopyTask(this);" flexy:ignore>
		<div class="form_item">
			<label for=""><span>*</span> Select Destination Project :</label>
			<select name="new_project_id" class="new_project_id">
				<option value="">Select destination project</option>
				{foreach:lead_project_records,cnt,project_record}	
					<option value="{project_record.getId()}">{project_record.getName()}</option>
				{end:} <!-- end of foreach -->	
			</select>
			<div class="form_info_text">Select the project to which the task is to be copied.</div>
		</div>
		<div class="form_item"><br />
			<label for="">&nbsp;</label>
			<input type="hidden" name="task_id" id="task_id" value ="{task_record.getId()}" />	
			<input type="submit" name="submit" value="Submit" class="blue_btn"/> &nbsp; <!-- megha 5.2.15 -->
			<input type="button" value="Cancel" onclick="window.location = '{aurl(#/task/view#):h}/id/{task_record.getId()}'" class="blue_btn" /> <!-- megha 5.2.15 -->
			<div style="clear:both;"></div>			 
		</div>
	</form>
</div><!-- end of copy_form_block  --> 