<div class="project_nav_link">	
    <img src="{aurl(#/project/icon#):h}/id/{project_record.getId()}" width="16" height="18" title="{project_record.getName()} - {project_record.getDescription()}" onclick="window.location='{aurl(#/project/view#):h}/id/{project_record.getId():h}'" align="absmiddle" class="project_icon3" alt="project_icon"/> <!-- megha 5.1.15 -->
    <a href="{aurl(#/project/view#):h}/id/{project_record.getId()}" title="{project_record.getName()} - {project_record.getDescription()}">{project_record.getName():h}</a>
</div>
<div class="tasks">
    <div class="project_view_header"> <!--  Abhilash 17.12.14 -->
	{if:task_record.getIsViewOnly()} 
            <img src="{iurl(#viewonly_status.png#)}" width="12" height="12" onclick="window.location='{aurl(#/task/view#):h}/id/{task_record.getId():h}'" title="View Only" class="status_icon" alt="task_viewonly_status_icon" flexy:ignore/> <!-- megha 31.1.15 -->
	{else:}		
            {if:task_record.getIsOpen()}
		<img src="{iurl(#open_status.png#)}" width="12" height="12" title="Open" class="status_icon" alt="task_open_status_icon" />
            {end:}
            {if:task_record.getIsInProgress()}
		<img src="{iurl(#inprogress_status.png#)}" width="12" height="12" title="In progress" class="status_icon" alt="task_inprogress_status_icon" />
            {end:}
            {if:task_record.getIsInReviewStatus()}
            	<img src="{iurl(#pending_status.png#)}" width="12" height="12" title="Review Pending" class="status_icon" alt="task_pending_status_icon" />
            {end:}
            {if:task_record.getIsClosed()}
            	<img src="{iurl(#closed_status.png#)}" width="12" height="12" title="Closed" class="status_icon" alt="task_closed_status_icon" />
            {end:} 
	{end:} <!--  end of else view only -->
	{if:isPromoted}
            <div class="promo_icon"></div>
	{end:}
	<div class="proj_title">{task_record.getName():h} &nbsp;</div><!--End of proj_title-->
	<!--megha 7.4.15--><div class="task_priority"> 
		<span class="{task_record.getPriorityLabel():h}_priority"></span> <!-- megha 7.4.15 -->
		</div><!--end of task_priority--> <!--end-->
	
    </div> <!-- End of project view header -->
    <div class="project_header">
        {if:lead_task}
            {if:!is_closed_task}<a href="{aurl(#/task/edit#):h}/task_id/{task_record.getId():h}">Edit</a>
				<span>|</span> 
            {end:}		
        {end:}
		{if:can_copy_task}
            <a onclick="window.location = '{aurl(#/task/copyTask#):h}/task_id/{task_record.getId()}'">Copy task</a>
        {end:}  
        
    </div><!--End of project_header-->
    <div class="clear_fix"></div>
    
    <div class="projects">	
	<div class="content_left_block">
            <div class="clear_fix"></div>
            <div class="project_view_block theme_block"> <!-- megha 7.1.15 -->
		<div class="project_top_left_corner"></div>
		<div class="proj_top_rt_corner"></div>
		<div class="header_block">
                    <div class="created_by">
			<span>By:&nbsp;</span>{task_record.getLeadSigninId():h}
                    </div>
                    <div class="created_date">
			<span>Created On:&nbsp;</span>{task_record.getCreatedAtFormatted():h}
                    </div>
                    
                    {if:isBookmarked}
			<div class="bookmarked"></div>
                    {else:}
		 	<div class="bookmark" title="Bookmark" onclick="window.location = '{aurl(#/bookmark/task#)}/id/{task_record.getId()}'"></div>	
                    {end:} 		 	
                    {if:task_record.getHasProgress()}																							
			<div class="progress_bar" title="{task_progress}%">
                            <div class="progress_line" style="width:{task_progress:h}%;"></div>
			</div>
                    {else:}
		 	<div class="progress_bar_disabled" title="{task_progress}%">
                            <div class="progress_line" style="width:{task_progress:h}%;"></div>
			</div>
                    {end:}
                    <div class="clear_fix"></div>
		</div><!-- end of header_block -->
		<div class="project_description_block">
					<!-- megha 22.12.14 -->
					{if:is_closed_task}
						<div class="content_message_block">
                            This task has been closed.
                            {if:lead_task} 
                                <a href="{aurl(#/task/openTask#)}/task_id/{task_record.getId()}">Open the task</a> 
                            {end:}
						</div>
                    {end:}
                    <div class="description">
			{task_record.getDescription():h}					
                            
                    </div><!--end of description-->
                    
                    {if:task_record.getHasAttachment()}	
                        <div class="attached_doc">
                            {foreach:task_attachments,cnt,task_attachment}
                                {if:!task_attachment.is_image}
                                    {if:task_attachment.attachment_name}
				 						<img src="{iurl(task_attachment.attachment_icon)}"  alt="task_attachment_icon" align="absmiddle"/><a href="{aurl(#/task/download#):h}/task_id/{task_record.getId():h}/file_name/{task_attachment.attachment_name:h}" target="_blank">{task_attachment.attachment_name}</a>
                                    {end:}
				{end:}
                            {end:}
                            {foreach:task_attachments,cnt,task_attachment}
				{if:task_attachment.is_image}
                                    {if:task_attachment.attachment_name}
				 					<span class="attached_img">
                                            <a href="{aurl(#/task/download#):h}/task_id/{task_record.getId():h}/file_name/{task_attachment.attachment_name:h}" target="_blank">
                                                <img src="{aurl(#/task/download#):h}/task_id/{task_record.getId():h}/thumb/150120/file_name/{task_attachment.attachment_name:h}" width="150" height="120" alt="task_attachment_icon"  /><br/>
                                            </a>
                                            <a href="{aurl(#/task/download#):h}/task_id/{task_record.getId():h}/file_name/{task_attachment.attachment_name:h}" target="_blank">{task_attachment.attachment_name}</a>
				 					</span>
                                    {end:}
				{end:}
                            {end:}
                            <div style="clear:both;"></div>
                            {if:file_missing}
								<span class="missing_attachments">Some of the attachments may be missing.</span> <!-- megha 26.12.14-->
                            {end:}
                            <div class="clear_fix"></div>
			</div>
                    {end:}
                    <div class="assigned_to_link">
                    	{if:!is_closed_task}
                            {if:can_assign_task}
				{if:task_record.getHasTeam()}
                                    <a onclick="tt.util.showBlock('{task_record.getId():h}');">Change assignment</a>
				{else:}
                                    <a onclick="tt.util.showBlock('{task_record.getId():h}');">Assign task</a>
				{end:}
                            {end:}
			{end:}
                    </div>
                    <div class="assigned_to_text">
                        <span>Assigned to:</span>
                        {if:hasTeam}
                            {foreach:task_team,cnt,team}
                                {if:!team.can_exec_task}
                                    <font color="#9A9B9B">{team.signinId}</font>
                                {else:}
                                    {team.signinId}
                                {end:}
                                {if:can_assign_task}
                                    {if:!is_closed_task}
                                        <img src="{iurl(#button_remove.png#)}" alt="task_button_remove_icon" title="Remove" width="14" height="18" align="absmiddle"   onclick="if(tt.util.confirmUnAssign(' {team.signinId}')){window.location = '{aurl(#/task/removeTeam#):h}/task_id/{task_record.getId():h}/user_id/{team.id}/project_id/{project_record.getId()}'}" />
                                    {end:} 
                                {end:}
                                {if:!team.count_end}|{end:}						     
                            {end:} 
                        {else:}
                            None
                        {end:}	 			
                    </div> <!-- end of assigned_to_text -->	
                    {if:!is_closed_task}
                        {if:can_assign_task}							
                            <div class="assignment_block" id="{task_record.getId():h}">
				<form method="post" id="update_form_{task_record.getId():h}" action="{aurl(#/task/assign#):h}/" flexy:ignore>
                                    <div class="form_item">
					<label>Select Team: </label>
					<select name="team_id[]" multiple="multiple" >
                                            <option value="0">None</option>										
                                            {foreach:teams_array,cnt,team}																				
                                                <option value="{team.getId()}">{team.getSigninId()}</option>
                                            {end:}
					</select>
                                    </div>	
                                    <div class="form_item">				 			
                                        <label>Select Permission: </label>
					<div class="form_rt_cont">
                                            <input type="radio" id="view_only_permission" name="task_permission" value="{const_view_task_permission:h}" size="40"  /> View Only &nbsp;
                                            <input type="radio" id="exec_permission" name="task_permission" value="{const_exec_task_permission:h}" size="40" checked /> Execute Task
					</div>
                                    </div>
                                    <div class="form_item">
                                        <label>&nbsp;</label>
					<div class="form_rt_cont">
                                            <input type="hidden" name="page_index" value="{page_index:h}" />
                                            <input type="hidden" name="task_id" value="{task_record.getId():h}"/>
                                            <input type="submit" value="Submit" class="blue_btn" /> &nbsp;
                                            <input type="button" value="Cancel" onclick="tt.util.hideBlock('{task_record.getId():h}');" class="blue_btn"  />
                                        </div>
                                    </div>
                                    <div style="clear:both;">&nbsp;</div>
				</form>
                            </div> <!-- end of assignment_block  -->
			{end:} <!-- end of canAdminAssign -->
                    {end:} <!-- end of is_closed_task -->
                    <div style="clear:both;"></div>	
                    {if:isPromoted}
                        <div class="promoted_link_block">
                            This task was promoted from issue.{if:view_issue} <a href="{aurl(#/issue/view#):h}/id/{issue_id}" title="View the issue">[View issue]</a>{end:} <!-- megha 6.4.15 -->
			</div>
                    {end:}	 		
                    <div class="clear_fix"></div>	
		</div><!-- end of project_description_block -->
		<div class="proj_btm_left_corner"></div> <!-- megha 11.12.14-->
		<div class="proj_btm_rt_corner"></div>			
            </div><!-- end of project_view_block -->
            {if:!is_closed_task}
                {if:can_post_comments}
                    <div class="project_view_block">
                        <div class="project_top_left_corner"></div>
                        <div class="proj_top_rt_corner"></div>
                        <div class="header_block">
                            {if:is_compose_desc_visible} <!-- Abhilash 3.1.15 -->
				<a onclick = "{window.location = '{aurl(#/task/setTaskDescVisibility#):h}/task_id/{task_record.getId():h}/visibility/hide/page/view'}"> <img src="{iurl(#hide_icon.png#)}" width="17" height="17" alt="tasks_hide_icon" title="Hide Details" align="absmiddle" class="compressor_image"  /></a>
                            {else:}
				<a onclick = "{window.location = '{aurl(#/task/setTaskDescVisibility#):h}/task_id/{task_record.getId():h}/visibility/show/page/view'}"> <img src="{iurl(#show_icon.png#)}" width="17" height="17" alt="tasks_show_icon" title="Show Details" align="absmiddle" class="compressor_image" /></a>
                            {end:}
	                   <!-- megha 16.12.14-->
                            <span> Post Comments</span>	<!-- megha 26.12.14 -->								
                        </div>	<!--end of header_block-->
                        
                        
                         {if:is_compose_desc_visible} <!--  ABhilash 3.1.15 -->
                        <div class="project_description_block">
                            <div class="form_block">		
				<div id="validate_task_upload_message" class="upload_message"><p id="message"> Please do not close the browser until the attachment is completely uploaded</p><p>Loading, please wait...</p><img src="{iurl(#rel_interstitial_loading.gif#):h}" alt="progressbar" /></div>				
                                    <form enctype="multipart/form-data" method="post" id="message_form" action="{aurl(#/task/message#):h}/" onsubmit="return tt.util.validateTaskComments(this);" flexy:ignore>		
					<a name="reply_button"></a> <!-- To move to form block when reply is clicked. -->	
					<div id="upload" class="form_item">
					<div class="attachments"> <!-- megha 30.12.14 -->
                    	<label for="uploadedfile"> Attachments:</label>
                    	<div class="attachment_types">Allowed file types:<span> {allowed_attachments:h} </span></div> <!-- megha 30.12.14 -->
                    	<br/>
                    </div> <!--end of attachments--> <!-- megha 30.12.14 -->
                                            <div class="file" id="upload_block_1">
                                                <span id="upload_input_1"><input type="file" id="uploadedfile_1" size="20" name="uploadedfile_1" onchange="return tt.util.showDeleteIcon('1');"/></span>
                                                <img src="{iurl(#delete_icon.png#)}" width="10" height="10"  alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_1" onclick="return tt.util.deleteUpload('1')" />
                                                <div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>					
                                            <div class="file2" id="upload_block_2">
                                                <span id="upload_input_2"><input type="file" size="20" id="uploadedfile_2" name="uploadedfile_2" onchange="return tt.util.showDeleteIcon('2');" /></span>
						<img src="{iurl(#delete_icon.png#)}" width="10" height="10" alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_2" onclick="return tt.util.deleteUpload('2')"/>
						<div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>						
                                            <div class="file" id="upload_block_3">
						<span id="upload_input_3"><input type="file" size="20" id="uploadedfile_3" name="uploadedfile_3" onchange="return tt.util.showDeleteIcon('3');"/></span>
						<img src="{iurl(#delete_icon.png#)}" width="10" height="10" alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_3" onclick="return tt.util.deleteUpload('3')"/>
						<div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>						
                                            <div class="file2" id="upload_block_4">
                                            	<span id="upload_input_4"><input type="file" size="20" id="uploadedfile_4" name="uploadedfile_4" onchange="return tt.util.showDeleteIcon('4');"/></span>
						<img src="{iurl(#delete_icon.png#)}" width="10" height="10" alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_4" onclick="return tt.util.deleteUpload('4')"/>
						<div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>						
                                            <div class="file" id="upload_block_5">
                                            	<span id="upload_input_5"><input type="file" size="20" id="uploadedfile_5" name="uploadedfile_5" onchange="return tt.util.showDeleteIcon('5');"/></span>
						<img src="{iurl(#delete_icon.png#)}" width="10" height="10" alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_5" onclick="return tt.util.deleteUpload('5')"/>
						<div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>						
                                            <div class="file2" id="upload_block_6">
						<span id="upload_input_6"><input type="file" size="20" id="uploadedfile_6" name="uploadedfile_6" onchange="return tt.util.showDeleteIcon('6');" /></span>
						<img src="{iurl(#delete_icon.png#)}" width="10" height="10" alt="attachment_delete_icon" title="Delete Attachment" class="upload_delete_icon" id="delete_icon_6" onclick="return tt.util.deleteUpload('6')"/>
						<div class="form_info_text">Max. Upload size {max_upload_size:h}.</div>
                                            </div>					
                                            <div class="upload_more_link" id="add_more" onclick="tt.util.showUploadBlock('add_more');">Add more</div>
					</div>
					<div style="clear:both;"></div>
					<div class="form_item">
                                            <label for="comments"> Task Comments:</label><br/>
                     <!-- megha 31.12.14 --><textarea rows="15" class="add_desc_txtarea" id="comments" name="comments"></textarea>
					</div>
                                        <div class="form_item">
                                            <label for="task_progress">Task Progress:&nbsp;</label>
                                            <select name="task_progress" id="task_progress">
                                                {foreach:task_progress_values,cnt,progress_value}																				
                                                    {if:task_record.getHasProgressValue(progress_value)}
                                                        <option value="{progress_value}" selected>{progress_value:h}%</option>
                                                    {else:}								
                                                        <option value="{progress_value}">{progress_value:h}%</option>
                                                    {end:}	
						{end:} <!-- end of foreach -->	
                                            </select>
					</div>				
					<div class="form_item" align="center">
                                            <input type="submit" value="Submit" class="blue_btn" /> &nbsp;
                                            <input type="reset" value="Reset" class="blue_btn"  />
                                            {if:!lead_task}
                                                {if:!isAdmin}
                                                    {if:task_record.getIsInProgress():h}
                                                        &nbsp; <input type="submit" name="review_task" value="Request Review" class="review_blue_btn" />
                                                    {end:}
						{end:}
                                            {end:}
                                            <input type="hidden" name="subject" id="subject" value="" />
                                            <input type="hidden" name="task_id" id="task_id" value ="{task_record.getId():h}" />
                                            {if:lead_task}
                                                {if:task_record.getIsInReviewStatus()}
                                                    &nbsp; <input type="submit" name="reassign_task" value="Re-assign" class="blue_btn" />
						{end:}
                                            {end:}
                                            {if:lead_task}
                                                &nbsp; <input type="submit" name="close_task" value="Close Task" onclick="tt.util.confirmCloseTask()" class="close_blue_btn" /> <!-- megha 23.12.14-->
                                            {end:}							
					</div>		
                                    	<div style="clear:both;"></div>
                                    </form>
                            </div> <!-- end of form_block -->
                        </div> <!--end of project_description_block-->
                     
             		<div class="proj_btm_left_corner"></div> <!-- megha 11.12.14-->
                        <div class="proj_btm_rt_corner"></div>	
                           {else:} <!-- megha 2.2.15-->
                           <div class="project_bottom_left_corner"></div> <!-- megha 19.12.14 -->
                        <div class="project_bottom_right_corner"></div> <!-- megha 19.12.14 -->	
                        {end:}<!-- megha 2.2.15-->
                    </div><!-- end of project_view_block -->				
		{end:}<!-- end of can post comments-->
            {end:}<!-- end of !is closed task -->
	</div><!--end of content_left_block-->

<div class="content_right_block">
	
	
	{if:!no_records}
		<div class="project_top_left_corner"></div>
	<div class="proj_top_rt_corner"></div> <!-- megha 24.12.14 -->
		<div class="header_block"> <!-- megha 24.12.14 -->
			<span>Task Messages</span>
		</div><!--end of header_block-->
		{foreach:message_records,cnt,message_record}
			{if:message_record.m_record.getFromSelf()}
				<div class="project_message">
			{else:}
				<div class="alt_user_message">
			{end:}
				<img src="{aurl(#/user/icon#):h}/id/{message_record.m_record.getFromId():h}" width="41" height="41" alt="profile_avatar" class="msg_sender_icon" />
				<div class="msg_info">
					<span class="msg_sender_name" id="{message_record.m_record.getFromName():h}">{message_record.m_record.getFromName():h}</span>
					<span><a name="{message_record.m_record.getId():h}"></a>#{message_record.m_record.getId():h}</span>
					<span> {message_record.m_record.getDateFormatted():h} </span>
				</div><!-- end of message_info-->
				{if:message_record.m_record.getFromSelf()}
					{if:!is_closed_task}
						<img class="delete_msg_icon" src="{iurl(#delete_project.png#)}" width="14" height="14"  align="middle" onclick="if(tt.util.confirmDelete('task comment')){window.location = '{aurl(#/message/delete#):h}/message_id/{message_record.m_record.getId()}/page_index/{page_index}'}" alt="delete_image" title="Delete" alt="icon_block_icon" />{end:}
					{else:}
					{if:isAdmin}
						<img class="delete_msg_icon" src="{iurl(#delete_project.png#)}" width="14" height="14" align="middle" onclick="if ( tt.util.confirmDelete('task comment') ) {window.location = '{aurl(#/message/delete#):h}/message_id/{message_record.m_record.getId()}/page_index/{page_index}'}" alt="task_comment_delete_icon" title="Delete" />
					{end:}
					{if:!is_closed_task}
						{if:!task_record.getIsViewOnly()}
							<a href="#reply_button"><img class="reply_icon" src="{iurl(#reply.png#)}" align="middle" border="0" alt="reply_image" title="Reply" alt="reply_button_icon" /></a>
						{end:}
					{end:}
				{end:}
				{if:message_record.isCommentBookmarked}
					<div class="bookmarked" ></div>
				{else:}
					<div class="bookmark" title="Bookmark" onclick="window.location = '{aurl(#/bookmark/message#)}/id/{message_record.m_record.getId()}/page_index/{page_index:h}'"></div>
				{end:}
				<div class="clear_fix"></div>
				<div class="msg_content">
					{if:!message_record.no_comment}
						{message_record.m_record.getCont():h}
					{end:}
				</div><!--end of msg_content-->
				{if:message_record.m_record.getHasAttachment()}
					<div class="msg_attachments">
						<span>Attachments:</span>
						<div class="clear_fix"></div>
						<div class="attachment_list">
								
								{foreach:message_record.m_attachments,cnt,message_attachment}
									{if:!message_attachment.is_image}
										<span class="attached_docs"> <!-- megha 29.12.14 -->
											<img src="{iurl(message_attachment.attachment_icon)}"  align="absmiddle"  alt="message_attachment_icon" align="absmiddle" /> &nbsp;
											<a href="{aurl(#/message/download#):h}/message_id/{message_record.m_record.getId()}/file_name/{message_attachment.attachment_name:h}" target="_blank">{message_attachment.attachment_name}</a>
										</span> <!-- megha 24.12.14 -->
									{end:}
								{end:}	
											 				
								{foreach:message_record.m_attachments,cnt,message_attachment}
									{if:message_attachment.is_image}
										<span class="attached_img">
											<a href="{aurl(#/message/download#):h}/message_id/{message_record.m_record.getId()}/file_name/{message_attachment.attachment_name:h}" target="_blank">
												<img src="{aurl(#/message/download#):h}/message_id/{message_record.m_record.getId()}/thumb/150120/file_name/{message_attachment.attachment_name:h}" width="150" height="120" alt="message_attachment_icon" /><br/>
											</a>
											<a href="{aurl(#/message/download#):h}/message_id/{message_record.m_record.getId()}/file_name/{message_attachment.attachment_name:h}" target="_blank">{message_attachment.attachment_name}</a>
										</span>
									{end:}
								{end:}
						<div class="clear_fix"></div>
						</div><!--end of attachment_list-->				 				
								{if:message_record.msg_attachment_missing}
			<!-- megha 24.12.14 --><span class="missing_attachments"> Some of the attachments may be missing.</span>
								{end:}
							
					</div><!--end of msg_attachments-->
				{end:}
				<div class="clear_fix"></div> <!-- megha - 1.1.15 -->
				{if:isAdmin}
					{if:message_record.m_record.getIsDeleted()}
					<div class="revoke_msg">This message was later retracted by the sender.&nbsp; 
						<a onclick="window.location = '{aurl(#/message/revoke#):h}/message_id/{message_record.m_record.getId()}/page_index/{page_index:h}'" title="Revoke the message" > Revoke</a>
						<div class="clear_fix"></div>
					</div>
					
					{end:}
					<div class="clear_fix"></div> <!-- megha - 1.1.15 -->
				{end:}
			</div><!--end of project_message-->
			
			<div class="clear_fix"></div>
			
		{end:}<!-- end of !foreach-->
		
		{outputBlock(#pagination.html#)}
		{if:pc.getDoHidePagination()}
			<div class="clear_fix"></div>
			<div class="{msg_btm_left_corner}"></div> <!-- abhilash 6.5.2015 -->
			<div class="{msg_btm_rt_corner}"></div> <!-- abhilash 6.5.2015 -->
		{else:}
			<div class="clear_fix"></div>
			<div class="msg_btm_left_corner"></div> <!-- abhilash 18.5.2015 -->
			<div class="msg_btm_rt_corner"></div> <!-- abhilash 18.5.2015 -->
		{end:}
	{end:}<!-- end of !if no records-->
		
	<div class="clear_fix"></div>
</div><!--end of content_right_block-->
<div class="clear_fix"></div>  
</div><!-- end of project -->
<div class="clear_fix"></div>
</div><!-- End of tasks-->
            
            
            
            
           